<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<div layout:fragment="body" class="body" id="app">
			<div class="container mt-5">
				<div class="content-header text-center">
					<h1 class="display-4">CREDIT</h1>
					<p>
						<strong>주문 결제 페이지 입니다.</strong>
					</p>
				</div>
				<div class="custom-content-box">
					<hr />
					<div class="title text-center">
						<h5>회원님의 소중한 결제 감사합니다.</h5>
						<p>언제나 고객님을 위해 최선을 다하겠습니다.</p>
					</div>
					<template v-for="(order, index) in orders">
					
					<form>
						<div class="row orderlist">
							<div class="col-12">
								<!-- creidt form start -->
								<table class="table table-bordered text-center">
									<thead>
										<tr>
											<th scope="row">
												<input type="checkbox" name="checkall" 
													v-model="allCheckbox"
													@change="changeAllCheckToggle"
													/>
											</th>
											<th scope="row" colspan="2">상품</th>
											<th scope="row" style="width: 100px;">수량</th>
											<th scope="row">가격(원)</th>
											<th scope="row">할인가격(원)</th>
											<th scope="row">예상 적립포인트</th>
										</tr>
									</thead>
									<!-- 서버에서 장바구니 구현하기 -->
									<tbody class="text-center">
									
										<tr>
											<td class="align-middle">
												<input type="checkbox" name="order"
												v-model="checkboxList[index].isChecked"
												@change="changeCheckbox"
												/>
											</td>
											<td class="align-middle"><img style="width: 125px;"
												:src="'/static/img/'+order.productCategory+'/'+order.productImagePath"/>
											</td>
											<td class="align-middle">
												<p>{{order.productName}}</p>
											</td>
											<td class="align-middle">
												<p>
													<input type="number"
														class="form-control text-right" min="1" 
														v-model="order.orderAmount"
														@change="getTotalPrice"
														/>
												</p>
											</td>
											<td class="align-middle">
												<p>{{order.productPrice * order.orderAmount | currency}}</p>
											</td>
											<td class="align-middle">
												<p>{{order.productPrice - order.productDiscountPrice}}</p>
											</td>
											<td class="align-middle">
												<p><span>{{order.productPoint * order.orderAmount | currency}}</span>
												</p>
												<p></p>
											</td>
											
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-12">
								<table class="table table-bordered">
									<tbody>
										<tr class="table-borderless">
											<td colspan="3">총 상품금액</td>
											<td colspan="1">
												<!-- product price -->
												<div class="text-right font-weight-bold">
													<span>{{totalPrice | currency}}</span> <span>원</span>
												</div>
											</td>
										</tr>
										<tr class="table-borderless">
											<td colspan="3">할인금액</td>
											<td colspan="1">
												<!-- product price -->
												<div class="text-right font-weight-bold text-danger">
													<span>{{totalDiscountPrice | currency}}</span> <span>원</span>
												</div>
											</td>
										</tr>
										<tr class="table-borderless">
											<td colspan="3">현재보유포인트</td>
											<td colspan="1"><div
													class="text-right font-weight-bold text-primary">
													<span>{{userInfo.point | currency}}</span> <span>point</span>
												</div></td>
										</tr>
										<tr class="table-borderless">
											<td colspan="1"><span>포인트사용</span></td>
											<td colspan="3">
												<!-- point --> 
												<input class="form-control text-right" type="number" 
												v-model="usePoint" min="0"
												@change="isAvailablePoint"
												style="margin: 0px;" name="using-point"/>
											</td>
										</tr>
										<tr class="table-borderless">
											<td colspan="1"><span class="font-weight-bold">총결제금액</span></td>
											<td colspan="3">
												<div class="text-right font-weight-bold">
													<span>{{totalPayCompute | currency}}</span> <span>원</span>
													<input type="hidden" value="">
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 text-center">
							<hr />
							<div class="title">
								<h5>회원정보</h5>
							</div>
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>이름</td>
										<td>
											<div class="form-group">
												<input name="name" type="text" class="form-control" :value="userInfo.name"
													readonly="readonly" />
											</div>
										</td>
									</tr>
									<tr>
										<td>아이디</td>
										<td>
											<div class="form-group">
												<input name="id" type="text" class="form-control" :value="userInfo.id"
												readonly="readonly"/>
											</div>
										</td>
									</tr>
									<tr>
										<td>전화번호</td>
										<td>
											<div class="form-group">
												<input name="tel" type="text" class="form-control" maxlength="13" :value="userInfo.phone"/>
											</div>
										</td>
									</tr>
									<tr>
										<td>이메일</td>
										<td>
											<div class="form-group">
												<input name="email" type="text" class="form-control" :value="userInfo.email"/>
											</div>
											<p class="text-left" style="margin: 0; color: red; font-size: 13px;"></p>
										</td>
									</tr>
								</tbody>
							</table>
							<hr />
						</div>
						<div class="text-center">
							<button type="button" class="btn btn-primary btn-lg"
							@click="submitOrder" >결제하기</button>
						</div>
					</form>
					</template>
				</div>
			</div>
		</div>
<th:block layout:fragment="script">
<script src="/static/js/user/order.js"></script>
</th:block>
</html>