<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<div layout:fragment="body" class="body" id="productApp">

            <div class="list-banner">
                <!-- 카테고리에 따라서 배너 이미지 바꾸기 -->
                <div class="row">
                    <div class="col-12 text-center">
                     <span th:if="${uriType eq 'icecream' }">
                        <img class="list-banner-img w-100" src="/static/img/event/banner/list-banner-img-cream.jpg" />
                    </span>
                    <span th:if="${uriType eq 'cake' }">
                        <img class="list-banner-img w-100" src="/static/img/event/banner/list-banner-img-cake.jpg" />
                    </span>
                    <span th:if="${uriType eq 'main' }">
                        <img class="list-banner-img w-100" src="/static/img/event/banner/list-banner-img-main.jpg" />
                    </span>
                    </div>
                </div>
                <!-- banner end -->
            </div>
            <div class="container">

                <div class="row">
                    <!-- monthly best item -->
                    <div class="col-12 mt-5">
                        <!-- 카테고리가 ice cream 일경우에만 best item 뜨게 만들기 -->
                        <h4 class="display-4 text-center">BEST ITEM</h4>
                        <hr />
                        <div class="row">
                            <div class="col-2 text-center" 
                            v-for="(product, index) in bestProducts">
                            	<a :href="'/menu/'+product.no" style="display: block;">
                                <span class="badge badge-pill badge-info">{{index + 1 }}위</span>
                                <div class="rounded-circle best-hidden border border-light"
                                :style="{ 'backgroundColor':backgroundColors[index] }" 
                                >
                                	<img class="ice-img-top"
                                	:src="'/static/img/'+product.category+'/'+product.productImage.imagePath" />
                                	<img class="ice-img-bottom-list"
									src="/static/img/main/icecream-bottom.png"
									v-if="product.category == 'icecream' "/>
                                </div>
                                <p class="text-muted mt-3">{{product.name}}</p>
                            	</a>
                            </div>
                        </div>
                    </div>
                    <!-- monthly best item -->
                    <div class="col-12 br-event-container">
                        <!-- category name -->
                        <h4 class="display-4 text-center"></h4>
                        <!-- category name end -->
                        <hr />
                        <!-- product list -->
                        <div class="row custom-content-box">
                            <!-- product -->
							<div class="col-12">
								<div class="row">
									<template v-for="product in products">
										<div class="col-3 mt-4">
											<a :href="'/menu/'+product.no" style="display: block;">
											<div class="card" style="overflow: hidden; height: 290px;">
												<div class="h4 text-center mt-4">{{product.name}}</div>
												<span class="ml-2 text-center">
													<template v-for="(tag, index) in product.productTag" v-if="index < 2">	
														<a href="#">{{tag.tag}}</a>
													</template>
												</span>
												<div class="text-center mt-1">
													<button @click.stop="buyAction" type="button" class="btn btn-secondary btn-sm">구매</button>
												</div>
												<img 
												:src="'/static/img/'+product.category+'/'+product.productImage.imagePath" 
												class="ice-img-top-list"
												/>
												 <img
												class="ice-img-bottom-list"
												src="/static/img/main/icecream-bottom.png"
												v-if="product.category == 'icecream' "/>
											</div>
											</a>
										</div>
									</template>
								</div>
							</div>
                            <!-- product -->
                        </div>
	                        <ul class="pagination pagination-lg justify-content-center" style="margin: 20px 0">
								<li class="page-item"
								 v-for="page in pagination.endPage"
								 :class="(page == pagination.pageNo) ? 'active': ''">
								 <a class="page-link" 
								 @click="movePage(page)">{{page}}</a></li>
							</ul>
                        <!-- product list -->
                    </div>
                </div>
                <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-1-sm">
                        <a href="/admin/addForm" class="btn btn-primary">상품 등록</a>
                    </div>
                </div>
            </div>
        <input type="hidden" th:value="${uriType}" id="uriType" />
        </div>
<th:block layout:fragment="script">
<script src="/static/js/user/list.js"></script>
</th:block>
</html>
