<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mypagenaviFragment">
	<ul class="nav nav-tabs nav-justified mt-3 mb-3">
		<li class="nav-item"><a href="mypage-point.jsp"
			class="nav-link" >포인트</a></li>
		<li class="nav-item"><a href="/mypage/cart"
			class="nav-link"
			:class="(url == 'cart') ? 'active' : '' "
			>장바구니</a></li>
		<li class="nav-item"><a href="mypage-orderlist.jsp"
			class="nav-link"
			>주문내역</a></li>
		<li class="nav-item"><a href="modifyform.jsp"
			class="nav-link">회원정보수정</a></li>
		<li class="nav-item"><a href="mypage-deleteform.jsp"
			class="nav-link">회원탈퇴</a></li>
	</ul>
</div>
</html>
