
.slide-enter-active {
   -moz-transition-duration: 0.5s;
   -webkit-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   transition-duration: 0.5s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.5s;
   -webkit-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   transition-duration: 0.5s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 300px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
.header {
	background-color: #FDF5E6;
}
.brand-logo img {
	width: 125px;
	height: 125px;
	margin-top: 2rem;
}
.ice-img-card {
	height: 150px;
	overflow: hidden;
}
.ice-img-top {
	width: 125px;
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
.ice-img-bottom {
	position: relative;
	width: 60px;
	top: -60px;
	margin: 0 auto;
}
.event-list {
	margin-top: 100px;
}
.footer{
	height: 300px;
}

