<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	
<div layout:fragment="body" class="body" id="main">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="event-carousel w-100">
					<div id="carouselExampleIndicators" class="carousel slide w-100"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0"
								class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active"
								style="background-image: url('/static/img/main/event-image-banner2.jpg'); background-size: 100% 100%">
								<img src="/static/img/main/event-image-banner2.jpg"
									class="w-100" alt="...">
							</div>
							<div class="carousel-item"
								style="background-image: url('/static/img/main/event-image-banner2.jpg'); background-size: 100% 100%">
								<img src="/static/img/main/event-image-banner2.jpg"
									class="w-100" alt="...">
							</div>
							<div class="carousel-item"
								style="background-image: url('/static/img/main/event-image-banner2.jpg'); background-size: 100% 100%">
								<img src="/static/img/main/event-image-banner2.jpg"
									class="w-100" alt="...">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators"
							role="button" data-slide="prev"> <span
							class="carousel-control-prev-icon" aria-hidden="true"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="carousel-control-next"
							href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-12">
					<div class="event-list container">
						<div class="row">
							<div class="col-12 text-center">
								<h3>BR EVENT</h3>
							</div>
							<div class="col-12 mt-5">
								<div class="row">
									<div class="col-3" v-for="event in events">
										<div class="card">
											<img src="/static/img/main/br-event-img1.jpg"
												class="card-img-top" alt="" />
											<div class="card-body">
												<p>event 종류</p>
												<h5 class="card-title">card header</h5>
												<h6>Lorem ipsum dolor sit amet,</h6>
												<p>이벤트 진행날짜</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-12 mt-5">
					<div class="product-list container">
						<div class="row">
							<div class="col-12 text-center">
								<h3>BEST ICECREAM</h3>
							</div>
							<div class="col-12 mt-5">
								<div class="row">
									<div class="col-2" v-for="ice in icecreams">
										<div class="card ice-img-card text-center">
											<img class="ice-img-top"
												src="/static/img/main/amond-bongbong.jpg" alt="" /> <img
												class="ice-img-bottom"
												src="/static/img/main/icecream-bottom.png" alt="" />
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="find-store"></div>
				</div>
				<div class="col-12">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="sns-logo-content"></div>
							</div>
							<div class="col-12">
								<div class="bera-instagram-list"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
</html>